<div class="detailfilter detailfilter-other">
    <div class="section">
        <div class="section-heading">Аксессуары и системы подсветки</div>
        <ul class="option" data-filter-group="other-type">
            <li>
                <button class="all" data-filter="">Все</button>
            </li>
            <li>
                <button class="accessory" data-filter=".other-accessory">Аксессуары</button>
            </li>
            <li>
                <button class="backlight" data-filter=".other-backlight">Системы подсветки</button>
            </li>
        </ul>
    </div>
</div>

<div class="catalog__list">
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside01_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside02_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside03_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside04_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside05_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside06_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside07_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside08_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside09_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside10_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside11_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside12_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside13_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside14_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside15_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside16_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside17_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside18_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside19_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside20_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside21_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside22_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside23_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside24_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside25_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside26_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-accessory">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/accessories/inside27_min.jpg">
            <a class="collection-name" href="#other">soft</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-1_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-2_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-3_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-4_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-5_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-6_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-7_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-8_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-9_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-10_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-11_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-12_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-13_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-14_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
    <div class="catalog__item mix other other-backlight">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="/img/catalog/backlight/backlight-15_min.jpg">
            <a class="collection-name" href="#other">light</a>
        </div>
    </div>
</div>


<div class="catalog__popup popup mfp-hide" id="other">
    <div class="popup__slider">
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside01.jpg"
               href="img/catalog/accessories/inside01.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside02.jpg"
               href="img/catalog/accessories/inside02.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside03.jpg"
               href="img/catalog/accessories/inside03.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside04.jpg"
               href="img/catalog/accessories/inside04.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside05.jpg"
               href="img/catalog/accessories/inside05.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside06.jpg"
               href="img/catalog/accessories/inside06.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside07.jpg"
               href="img/catalog/accessories/inside07.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside08.jpg"
               href="img/catalog/accessories/inside08.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside09.jpg"
               href="img/catalog/accessories/inside09.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside10.jpg"
               href="img/catalog/accessories/inside10.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside11.jpg"
               href="img/catalog/accessories/inside11.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside12.jpg"
               href="img/catalog/accessories/inside12.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside13.jpg"
               href="img/catalog/accessories/inside13.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside14.jpg"
               href="img/catalog/accessories/inside14.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside15.jpg"
               href="img/catalog/accessories/inside15.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside16.jpg"
               href="img/catalog/accessories/inside16.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside17.jpg"
               href="img/catalog/accessories/inside17.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside18.jpg"
               href="img/catalog/accessories/inside18.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside19.jpg"
               href="img/catalog/accessories/inside19.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside20.jpg"
               href="img/catalog/accessories/inside20.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside21.jpg"
               href="img/catalog/accessories/inside21.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside22.jpg"
               href="img/catalog/accessories/inside22.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside23.jpg"
               href="img/catalog/accessories/inside23.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside24.jpg"
               href="img/catalog/accessories/inside24.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside25.jpg"
               href="img/catalog/accessories/inside25.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside26.jpg"
               href="img/catalog/accessories/inside26.jpg"></a>
        </div>
        <div class="popup__slide other-accessory">
            <a class="popup__slide-link lazy" data-src="/img/catalog/accessories/inside27.jpg"
               href="img/catalog/accessories/inside27.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-1.jpg"
               href="img/catalog/backlight/backlight-1.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-2.jpg"
               href="img/catalog/backlight/backlight-2.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-3.jpg"
               href="img/catalog/backlight/backlight-3.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-4.jpg"
               href="img/catalog/backlight/backlight-4.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-5.jpg"
               href="img/catalog/backlight/backlight-5.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-6.jpg"
               href="img/catalog/backlight/backlight-6.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-7.jpg"
               href="img/catalog/backlight/backlight-7.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-8.jpg"
               href="img/catalog/backlight/backlight-8.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-9.jpg"
               href="img/catalog/backlight/backlight-9.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-10.jpg"
               href="img/catalog/backlight/backlight-10.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-11.jpg"
               href="img/catalog/backlight/backlight-11.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-12.jpg"
               href="img/catalog/backlight/backlight-12.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-13.jpg"
               href="img/catalog/backlight/backlight-13.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-14.jpg"
               href="img/catalog/backlight/backlight-14.jpg"></a>
        </div>
        <div class="popup__slide other-backlight">
            <a class="popup__slide-link lazy" data-src="/img/catalog/backlight/backlight-15.jpg"
               href="img/catalog/backlight/backlight-15.jpg"></a>
        </div>
    </div>
    <div class="popup__info">
        <div class="popup__desc">
            <div class="popup__desc-slider">
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Органайзеры различных конструкций позволяют выделить индивидуальные
                        места хранения вашим вещам, обеспечивая к ним удобный доступ.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-001</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Фасады со стеклом позволяют визуально просматривать вещи, делает их
                        поиск более удобным.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-002</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Вариант хранения мужских сорочек в выдвижном ящике (органайзере).
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-003</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Органайзер с подсветкой.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-004</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Строго и красиво.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-005</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Мелкие предметы удобно хранить на специальных выдвижных
                        конструкциях.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-006</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Для хранения очков предусмотрен органайзер со специальными вкладышами
                        и мягкой отделкой.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-007</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Для хранения бижутерии и дорогих вам вещей предназначены специальные
                        органайзеры с мягкой обивкой.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-008</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Цвет обивки органайзера вы можете выбрать по своему вкусу.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-009</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Обивка из кожи.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-010</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Выдвижная обувница.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-011</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Вариант размещения зеркала в шкафу-купе.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-012</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Вариант размещения зеркала в шкафу-купе.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-013</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Выдвигающийся органайзер с зеркалом на торце.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-014</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Удобно и красиво.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-015</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Органайзеры для галстуков, ремней и платков – необходимый элемент в
                        любой гардеробной комнате.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-016</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Удобно и аккуратно.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-017</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Любимые вещи под надежной защитой.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-018</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Многофункциональный остров удобно использовать для хранения различных
                        аксессуаров и мелких вещей.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-019</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие торцевой подсветки завораживает и украшает гардеробную
                        комнату.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-020</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Продуманные решения для удобного хранения.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-021</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Необычное использование выдвижной брючницы.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-022</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Выдвижная галстучница.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-023</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Продуманные решения для удобного хранения.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-024</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Продуманные решения для удобного хранения.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-025</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Продуманные решения для удобного хранения.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-026</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-accessory">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Продуманные решения для удобного хранения.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">AC-027</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-001</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-002</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-003</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-004</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-005</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-006</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-007</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-008</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-009</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-010</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-011</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-012</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-013</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-014</div>
                    </div>
                </div>
                <div class="poppup__desc-slide other-backlight">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Light</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Наличие подсветки завораживает и украшает.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">BL-015</div>
                    </div>
                </div>
            </div>
        </div>
        <a class="popup__btn button js-value" data-form="Рассчитать стоимость (Аксессуары)" href="#order">Рассчитать
            стоимость</a>
        <div class="social">
            <ul>
                <li><a class="in" href="https://www.instagram.com/pr_mebel.ru/" target="_blank"></a></li>
                <li><a class="vk" href="https://vk.com/public185518769" target="_blank"></a></li>
                <li>
                    <a class="fb"
                       href="https://www.facebook.com/%D0%A7%D0%B0%D1%81%D1%82%D0%BD%D1%8B%D0%B9-%D0%BC%D0%B5%D0%B1%D0%B5%D0%BB%D1%8C%D0%B5%D1%80-108136607213942" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</div>
