<div class="detailfilter detailfilter-wardrobe">
    <div class="section">
        <div class="section-heading">Стиль</div>
        <ul class="option" data-filter-group="wardrobe-style">
            <li>
                <button class="all" data-filter="">Все</button>
            </li>
            <li>
                <button class="modern" data-filter=".wardrobe-modern">Современные</button>
            </li>
            <li>
                <button class="classic" data-filter=".wardrobe-classic">Классические</button>
            </li>
            <li>
                <button class="neo" data-filter=".wardrobe-neo">Неоклассика</button>
            </li>
        </ul>
    </div>
</div>

<div class="catalog__list" style="">
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-013<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl13.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl13_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-014<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl14.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl14_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-015<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl15.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl15_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-002<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl02.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl02_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Многофункциональный остров удобно использовать для хранения различных аксессуаров и мелких вещей.<br>
            Артикул: WC-001<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl01.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl01_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Данная гардеробная выполнена в белом цвете в стиле неоклассика. Она одновременно выдержана в рамках современных трендов и в то же время претендует на изысканный аристократичный шик. Зеркальные фасады зрительно увеличивают помещение, а изящные решетки на зеркалах делают гардеробную более изысканной.<br>
            Артикул: WC-007<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl07.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl07_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Классическая гардеробная выполнена в комбинированных цветах. Внутренняя часть гардеробной реализована в белом цвете, а фасады в насыщенном шоколадном. За счет этого сочетания, гардеробная выглядит оригинально и стильно. Резной карниз и фасады с филенкой украшены патиной, фрезерованные пилястры декорированы фигурами.<br>
            Артикул: WC-003<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl03.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl03_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная выполнена в стиле современной классики. Тут отсутствуют излишне вычурные элементы декора, но в то же время, сохранены определенные классические традиции. Стиль подчеркивают изящные филенки на фасадах, декор цоколя и карниза. А также, аккуратная дизайнерская фрезеровка на зеркале.<br>
            Артикул: WC-011<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl11.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl11_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-016<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl16.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl16_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Белоснежная гардеробная в классическом стиле подчеркнет утонченный вкус и высокий статус своих хозяев. Дизайнерские решетки на зеркалах и стеклянные полочки делают гардеробную еще более изящной и легкой, а закрытый органайзер под прозрачным стеклом защитит ваши вещи от пыли, не мешая их свободному обзору.<br>
            Артикул: WC-008<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl08.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl08_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Элегантная гардеробная выполнена в стиле неоклассика. За счет белого цвета корпуса и фасадов, она зрительно увеличивает помещение, исключая ощущение «давящих стен». Декорированный карниз и фасады с филенкой, делают гардеробную более притязательной и утонченной, а отсутствие лишних цветов и декоров сохраняют лаконичность стиля.<br>
            Артикул: WC-006<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl06.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl06_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Данная гардеробная выполнена в стиле неоклассика. Закрытая часть гардеробной защищает вещи от пыли, а стеклянные дверцы не мешают обзору. За счет матового стекла сохраняется аккуратный и ухоженный вид гардеробной. Изящный карниз и фасады с филенкой придают этой гардеробной особую аристократичность.<br>
            Артикул: WC-005<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl05.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl05_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Вариант исполнения традиционной модели гардеробной комнаты в белом цвете ,визуально делает пространство просторным, добавляя ему частицу теплоты и уюта.<br>
            Артикул: WC-004<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl04.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl04_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная комната выполнена в стиле классицизм и заключает в себе гармонию утонченной классики и элегантных очертаний. Применение зеркальных фасадов сделало интерьер более выразительным, а огромное количество всевозможных секций разных размеров, делают ее максимально функциональной и помогают правильно организовать хранение вещей.<br>
            Артикул: WC-009<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl09.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl09_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Верхние секции гардеробной оформлены дизайнерскими арками. Полки закрывают двери купе, две из которых оформлены филенками, а две – представляют собой зеркала, зрительно увеличивающие помещение. Тут так же стоит обратить внимание на оригинальные ручки дверей, которые удачно завершают классический стиль комнаты.<br>
            Артикул: WC-010<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl10.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl10_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная выполнена в стиле неоклассика. Белый цвет корпуса и фасадов зрительно делает комнату более просторной и светлой. Множество полок и выдвижных органайзеров помогут обеспечить правильное хранение сразу большого количества вещей. Закрытые фасады защищают их от пыли, а стеклянные дверцы обеспечат свободный обзор и удобство выбора.<br>
            Артикул: WC-012<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl12.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl12_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-019<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl20.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl20_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-028<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl28.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl28_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-030<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl30.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl30_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-018<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl18.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl18_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одежды не бывает много, важно обеспечить ее правильное хранение.<br>
            Артикул: WC-020<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_cl19.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_cl19_min.jpg"></a>
    </div>

    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная ELEGANCE выполнена в стиле модерн. За счет дизайнерского цветового решения – светлый корпус и комбинированные фасады в молочном и шоколадном цветах, гардеробная выглядит необычно и ярко. Традиционная П-образная конструкция с открытыми секциями делает ее максимально удобной и функциональной.<br>
            Артикул: WM-001<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md01.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md01_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Открытая угловая секция позволяет максимально эффективно использовать пространство. Наличие большого количества ящиков делает хранение вещей в нижнем ярусе более удобным. Зеркало удачно выполнено в виде фасадов дверец шкафчиков. За счет исполнение корпуса в светлых тонах, гардеробная выглядит легко и не перегружает пространство.<br>
            Артикул: WM-002<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md02.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md02_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Стеклянные полки делают гардеробную еще более современной и необычной, одновременно облегчая ее и добавляя изящества. Также, они обеспечивают удобный визуальный доступ к вещам. Специальные выдвижные органайзеры для хранения галстуков, ремней, платков и аксессуаров, декорированы прозрачным тонированным стеклом.<br>
            Артикул: WM-003<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md03.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md03_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Одним из элементов декора современной гардеробной может стать подсветка полок. Наличие торцевой подсветки не только украсит Вашу гардеробную, придав ей ауру мистики и загадки, но и поможет облегчить поиск вещей в темное время суток.<br>
            Артикул: WM-004<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md04.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md04_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-033<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md33.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md33_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Стеклянные дверцы гардеробной защищают вещи от окружающей среды, при этом, не ограничивая визуальный обзор. Тонировка в тон фасадов придает комнате уникальный стиль и презентабельность. Открытые нижние полки удобно использовать для хранения обуви или объемных вещей.<br>
            Артикул: WM-007<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md07.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md07_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Ультрасовременная гардеробная LOFT выполнена в темных тонах с узкими вертикальными стойками – новый тренд в построении гардеробных. Фасады из черного стекла добавляют ей выразительности, подчеркивая ваш статус и непревзойденный вкус.<br>
            Артикул: WM-005<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md05.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md05_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Уникальная конструкция, объединяющая в себе узкие стойки с вешалом, модуль с небольшими ячейками, верхние и нижние ярусы с вместительными полками - позволяет максимально удобно разместить самые разные элементы Вашего гардероба. Оригинальная конструкция полок под сорочки и трикотаж позволяет облегчить выбор нужного предмета одежды.<br>
            Артикул: WM-006<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md06.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md06_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-034<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md34.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md34_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Порядок в гардеробной – это большая экономия Вашего времени и сил. Грамотно спроектированная гардеробная из коллекции SOFT с островом, подсветкой, функциональным распределением полок и выдвижных ящиков, обеспечивает хороший обзор и быстрый доступ к вещам.<br>
            Артикул: WM-009<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md09.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md09_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Современная гардеробная выполнена в цвете «орех». Мы продумали до мелочей максимально комфортное хранение всех ваших вещей. Для костюмов и рубашек есть невысокие вешалки. Мелкие предметы удобно хранить в выдвижном органайзере с прозрачным фасадом. Есть специальное место для гладильной доски и полочки для трикотажа и белья.<br>
            Артикул: WM-010<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md10.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md10_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Элегантный деловой интерьер гардеробной, в которой нет ничего лишнего. Выдвижные брючницы удобно использовать для хранения шарфов, платков и палантинов. Для галстуков есть выдвижная галстучница. Специальное покрытие брючницы и галстучницы не позволяет вещам падать вниз.<br>
            Артикул: WM-011<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md11.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md11_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-038<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md38.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md38_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-035<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md35.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md35_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Большая площадь гардеробной SOFT позволяет удачно разместить в ее центре многофункциональный остров. Его удобно использовать для хранения различных аксессуаров и мелких вещей. Стеклянные фасады ящиков и прозрачная столешница упрощают поиск нужных вещей.<br>
            Артикул: WM-012<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md12.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md12_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-036<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md36.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md36_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-037<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md37.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md37_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-031<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md31.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md31_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-013<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md13.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md13_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-014<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md14.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md14_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-015<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md15.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md15_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-017<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md17.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md17_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-018<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md18.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md18_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-016<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md16.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md16_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-030<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md30.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md30_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-026<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md26.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md26_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-032<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md32.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md32_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-020<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md20.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md20_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-021<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md21.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md21_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-022<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md22.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md22_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-023<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md23.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md23_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-024<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md24.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md24_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-025<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md25.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md25_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-028<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md28.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md28_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная в стиле модерн.<br>
            Артикул: WM-029<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md29.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md29_min.jpg"></a>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Гардеробная SOFT в стиле модерн в насыщенном шоколадном цвете, является продолжением спальни. А потому, полностью повторяет ее стиль. Продуманный до мелочей эргономичный дизайн гардеробной позволяет максимально удобно и аккуратно разместить огромное количество вещей. Узкие стойки делают поиск более удобным.<br>
            Артикул: WM-008<br>
            Стоимость: от 70 000 руб. за погонный метр
        " href="img/catalog/wardrobe/closets_md08.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="/img/catalog/wardrobe/closets_md08_min.jpg"></a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        repaintMode();
    });
</script>
