.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.2s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.25s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

body {
  width: 100%;
  min-width: 320px;
}

.comfort__item,
.quality__item {
  animation: pointbg 2s infinite;
}
.popup__collection + .popup__desc-key {
  margin-top: 15px;
}
.catalog__img {
  cursor: pointer;
}

.ptb {
  padding: 80px 0;
  height: auto;
  min-height: 0;
}
.pt {
  padding: 80px 0 0;
}
.main-link {
  top: 90px;
}

.catalog-page .catalog-page__title {
  margin: 0 0 50px;
}
.catalog-page .title:after {
  bottom: -2px;
  width: 60px;
}
.catalog__text,
.section-textblock {
  font-size: 18px;
  color: #000;
  line-height: 1.4;
}
.catalog__text {
  display: none;
}
.catalog__text.information,
.section-textblock {
  margin-top: 65px;
}

.catalog__banner {
  font-size: 0;
  display: none;
  margin-top: 50px;
}
.catalog__banner img {
  font-size: 0;
  width: 100%;
}
.catalog__links {
  margin: 60px 0 -25px;
}
.catalog__links .link {
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
}
.catalog__links .link .link__image {
  font-size: 0;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
.catalog__links .link .link__image:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.3s;
}
.catalog__links .link .link__image:after {
  content: "";
  position: absolute;
  right: -30px;
  bottom: 15px;
  width: 16px;
  height: 12px;
  background: url(../img/arrow-right.png) center center no-repeat;
  background-size: contain;
  transition: all 0.3s;
  z-index: 1;
}
.catalog__links .link .link__image img {
  width: 100%;
  transition: all 0.6s;
  transform: scale(1);
}
.catalog__links .link .link__image p {
  font-family: Gilroy, sans-serif;
  font-weight: 300;
  display: block;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 56%;
  transform: translateY(-50%);
  color: #fff;
  padding: 15px 45px;
  opacity: 0;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s;
}
.catalog__links .link .link__image p b {
  font-family: PlayfairDisplay-Italic, sans-serif;
  text-transform: none;
  display: block;
}
.catalog__links .link .link__name {
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  padding-bottom: 3px;
}
.catalog__links .link .link__name:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #000;
  transition: all 0.3s;
}
.catalog__links .link:hover .link__name:after {
  width: 100%;
}
.catalog__links .link:hover .link__image img {
  transform: scale(1.1);
}
.catalog__links .link:hover .link__image:before {
  opacity: 0.5;
  transition-delay: 0s;
}
.catalog__links .link:hover .link__image:after {
  right: 15px;
}
.catalog__links .link:hover .link__image p {
  opacity: 1;
  top: 50%;
  transition-delay: 0.3s;
}
.catalog__list {
  margin: -15px;
  font-size: 0;
  letter-spacing: -10px;
  min-height: 30px;
}
.catalog__list .catalog__item {
  display: inline-block;
  width: 33.33333333%;
  padding: 15px;
  letter-spacing: normal;
}
.catalog__list .catalog__item .wrapper {
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(48, 25, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.catalog__list .catalog__item .wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  transition: opacity 0.4s;
}

.catalog__list .collection-name {
  z-index: 1;
  font-size: 12px;
  display: inline-block;
  min-width: 110px;
  background: rgba(119, 119, 119, 0.72);
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  padding: 5px 40px 5px 15px;
  position: absolute;
  left: 0;
  opacity: 0;
  bottom: -30px;
  text-align: center;
  transition: all 0.3s;
}
.catalog__list .collection-name:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  border-left: 1px solid #fff;
  background: url(../img/arrow-right-item.svg) center center no-repeat;
}
.catalog__list .catalog__item .wrapper:hover:after {
  opacity: 0.5;
}
.catalog__list .catalog__item .wrapper:hover .collection-name {
  bottom: 0;
  opacity: 1;
}

.breadcr {
  margin-top: 50px;
  font-size: 12px;
  text-transform: uppercase;
}
.breadcr ul {
  overflow: hidden;
}
.breadcr li {
  float: left;
}
.breadcr li + li {
  margin-left: 5px;
}
.breadcr li + li:before {
  content: "-";
  margin-right: 5px;
}
.breadcr a {
  color: #b7b7b7;
}
.breadcr a:hover {
  color: #ff001f;
}
.breadcr .active {
  color: #000;
}

.catalog-page .filter-select {
  margin-bottom: 30px;
}

.mainfilter {
  text-align: center;
  margin: 40px 0;
  text-transform: uppercase;
}
.mainfilter ul {
  display: inline-block;
  border-radius: 5px;
  background: #f4f4f4;
  font-size: 0;
  letter-spacing: -10px;
  padding: 11px 68px 10px;
}
.mainfilter li {
  display: inline-block;
  font-size: 18px;
  letter-spacing: normal;
}
.mainfilter li + li {
  margin-left: 30px;
}
.mainfilter li + li:before {
  content: "-";
  margin-right: 30px;
}
.mainfilter a {
  color: #000;
}
.mainfilter a.active {
  color: #eb2f46;
}

.detailfilter {
  text-align: center;
  padding: 0 30px;
  font-size: 0;
  letter-spacing: -10px;
  margin-bottom: 20px;
}
.detailfilter .section {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  width: 50%;
}
.detailfilter .section .section-heading {
  color: #301900;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.detailfilter .section ul {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  display: inline-block;
}
.detailfilter .section li {
  display: inline-block;
}
.detailfilter .section li + li {
  margin-left: 5px;
}
.detailfilter .section li + li:before {
  content: "-";
  margin-right: 5px;
}
.detailfilter .section li button {
  color: #919191;
  background: none;
  padding: 0;
  height: auto;
  outline: none !important;
}
.detailfilter .section li button.mixitup-control-active {
  color: #eb2f46;
  cursor: default;
}

.catalog__actions {
  padding-top: 60px;
}
.catalog__actions .load-more {
  margin: 0 auto;
  text-align: center;
}
.catalog__actions .load-more.disable {
  opacity: 0.2;
}

.design__bottom-cat {
  background: url(../img/questions-bg.jpg) center center no-repeat;
  background-size: cover;
}
.design__bottom-cat .title {
  font-size: 30px;
}
.design__bottom-cat .title:after {
  bottom: -5px;
}
.design__bottom-cat .connect__desc {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  margin: 40px 0;
  max-width: 100%;
  text-transform: none;
}
.design__bottom-cat .design__form {
  max-width: 380px;
  margin: 20px auto 0;
  background: rgba(89, 89, 89, 0.46);
  border-radius: 5px;
  padding: 40px;
}
.design__bottom-cat .design__form-top {
  display: block;
}
.design__bottom-cat .design__form-left {
  margin: 0;
  display: block;
}
.design__bottom-cat .design__form-input {
  display: block;
}
.design__bottom-cat .design__form-field {
  width: 100%;
  margin: 0;
}
.design__bottom-cat .design__form-field + .design__form-field {
  margin-top: 15px;
}
.design__bottom-cat textarea {
  border-radius: 5px;
  height: 110px;
}
.design__bottom-cat .design__form-label {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.design__bottom-cat .design__upload {
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
  height: 28px;
  line-height: 27px;
}
.design__bottom-cat .design__form-show {
  display: none;
}
.design__bottom-cat .design__btn {
  margin: 20px 0 0;
  width: 100%;
}
.design__bottom-cat .design__info {
  margin-top: 35px;
}

.popup__info {
  font-size: 16px;
  font-family: Gilroy, sans-serif;
}
.popup__info .popup__collection-key,
.popup__info .popup__desc-key,
.popup__info .popup__cod-key {
  font-weight: 500;
}

.catalog__popup .social {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
.catalog__popup .social ul {
  font-size: 0;
  letter-spacing: -10px;
}
.catalog__popup .social li {
  letter-spacing: normal;
  display: inline-block;
  margin: 0 2px;
}
.catalog__popup .social a {
  display: block;
  width: 28px;
  height: 22px;
  background-size: contain !important;
}
.catalog__popup .social .vk {
  background: url(../img/vk-cat.png) center center no-repeat;
}
.catalog__popup .social .vk:hover {
  background: url(../img/vk-cat-h.png) center center no-repeat;
}
.catalog__popup .social .fb {
  background: url(../img/fb-cat.png) center center no-repeat;
}
.catalog__popup .social .fb:hover {
  background: url(../img/fb-cat-h.png) center center no-repeat;
}
.catalog__popup .social .in {
  background: url(../img/in-cat.png) center center no-repeat;
}
.catalog__popup .social .in:hover {
  background: url(../img/in-cat-h.png) center center no-repeat;
}

.order-cat {
  max-width: 434px;
  padding: 0;
  font-family: Gilroy, sans-serif;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.49);
}
.order-cat .form {
  text-align: center;
  padding: 20px 35px 35px;
}
.order-cat .form .form-heading {
  font-size: 20px;
  text-transform: uppercase;
}
.order-cat .form .form-text {
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  padding-bottom: 15px;
}
.order-cat .form .form-text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  height: 1px;
  background: #eb2f46;
}
.order-cat .form .order__form {
  max-width: 255px;
  margin: 20px auto 0;
}
.order-cat .form .order__form .order__field {
  display: block;
}
.order-cat .form .order__form .order__field {
  width: 100%;
  margin: 0;
}
.order-cat .form .order__form .order__field + .order__field {
  margin-top: 15px;
}
.order-cat .form .order__form textarea {
  border-radius: 5px;
}
.order-cat .form .order__form .order__form-show {
  display: none;
  margin: 0;
  height: 28px;
  text-align: center;
  overflow: auto;
}
.order-cat .form .order__form .order__form-label {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.order-cat .form .order__form .order__upload {
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
  height: 28px;
  line-height: 27px;
}
.order-cat .form .order__form .order__message {
  color: #000;
  font-size: 14px;
  margin-top: 25px;
  border: 1px solid #000;
  background: 0 0;
  width: 100%;
  height: 110px;
  padding: 5px 20px;
  resize: none;
}
.order-cat .order__info {
  margin: 15px auto 0;
  max-width: 300px;
}
.order-cat .order__info a:hover {
  color: #000;
  text-decoration: none;
}
.order-cat .order__info a {
  color: #000;
}
.order-cat .order-image {
  font-size: 0;
}
.order-cat .order-image img {
  width: 100%;
}
.order-cat .order__btn {
  margin-top: 20px;
}

.has-submenu {
  position: relative;
}
.has-submenu > a {
  padding-right: 15px;
  background: url(../img/arrow-menu.svg) center right no-repeat;
}
.has-submenu > ul {
  font-size: 14px;
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
  width: 230px;
  background: #fff;
  padding: 10px;
  display: none;
}
.has-submenu > ul > li {
  margin: 5px 0;
}
.has-submenu > a:hover + ul,
.has-submenu > ul:hover {
  display: block;
}

.top .slick-prev:before,
.top .slick-next:before {
  display: none;
}
.top__slide {
  position: relative;
}
.top__slide .wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.top__wrap {
  min-height: 37vh;
}
.top__btn {
  font-family: GothamPro-Light;
  font-weight: normal;
  width: auto;
  min-width: 210px;
  height: 60px;
  line-height: 55px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  background: none;
  font-size: 20px;
  display: inline-block;
  text-transform: none;
}
.top__btn:hover {
  background: none;
  border-color: #eb2f46;
  color: #fff;
}
.top__title {
  line-height: 1.1;
}
.top__info {
  font-size: 2.8vh;
  line-height: 1.3;
  font-family: Gilroy, sans-serif;
  font-weight: 400;
}
.top__desc {
  font-size: 4.6vh;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}
.top__desc + .top__info {
  margin-top: 20px;
}

.online__btn {
  font-family: GothamPro-Light;
  font-weight: bold;
  width: auto;
  min-width: 105px;
  height: 30px;
  line-height: 28px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 14px;
  background: #ff001f;
  font-size: 10px;
  display: inline-block;
  text-transform: none;
  text-align: center;
  margin-top: 3px;
}
.online__btn:hover {
  background: none;
  border-color: #eb2f46;
  color: #ff001f;
  transition: 0.6s all;
}

.type-1 .top__title {
  font-size: 7.4vh;
  line-height: 1.1;
  margin-bottom: 15px;
}
.type-2 .top__title {
  font-size: 7.5vh;
}
.type-2 .top__wrap {
  padding-top: 20px;
}
.type-3 .top__title {
  font-size: 8.35vh;
  margin-bottom: 15px;
}
.type-3 .top__wrap {
  padding-top: 7vh;
}

.top .top__dots {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
}
.top .slick-dots {
  text-align: left;
  position: static;
}
.top .slick-dots li.slick-active {
  background: none;
}
.top .slick-dots li.slick-active button {
  border-radius: 50%;
  border-color: #fff;
}
.top .slick-dots li.slick-active:hover,
.top .slick-dots li.slick-active:hover button {
  color: #fff;
  cursor: default;
}
.top .slick-dots li {
  background: none;
  width: auto;
  height: auto;
  border: none;
  border-radius: 0;
  margin-right: 0;
  margin-left: 0;
  color: #fff;
  transition: all 0.3s ease-out;
}
.top .slick-dots li:hover {
  background: none;
}
.top .slick-dots li:hover button {
  color: #ff001f;
}
.top .slick-dots li button {
  font-family: GothamPro-Light;
  font-weight: normal;
  border: 2px solid transparent;
  background: none;
  height: 48px;
  width: 48px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
.top .slick-dots li button:before {
  display: none;
}

.top__social {
  font-size: 19px;
  color: #fff;
  font-family: GothamPro-Light;
  position: absolute;
  left: 97%;
  width: 100%;
  top: 130px;
  text-align: left;
  transform: rotate(90deg);
  transform-origin: left top 0;
  z-index: 1;
}
.top__social ul {
  overflow: hidden;
}
.top__social li {
  float: left;
}
.top__social li + li {
  margin-left: 60px;
}
.top__social li a {
  color: #fff;
  transition: all 0.3s ease-out;
}
.top__social li a:hover {
  color: #ff001f;
}

@media (max-width: 1650px) {
  .catalog__links .link .link__image p {
    padding: 10px 35px;
  }
}

@media (max-width: 1500px) {
  .top__slide {
    min-height: 600px;
  }
  .top__social {
    display: none;
  }
}

@media (max-width: 1199px) {
  .popup__collection,
  .popup__desc-key,
  .popup__cod {
    font-size: 14px;
  }
  .popup__desc-value {
    font-size: 12px;
    margin: 0;
  }
  .popup__collection + .popup__desc-key,
  .popup__cod {
    margin-top: 10px;
  }
  .popup__btn {
    line-height: 40px;
    height: 40px;
  }
  .ptb {
    padding: 60px 0;
  }
  .pt {
    padding: 60px 0 0;
  }
  .main-link {
    top: 70px;
  }
  .catalog__links .link .link__image p {
    padding: 10px 30px;
  }
  .catalog__links .link .link__image p span {
    font-size: 16px;
  }
  .catalog__links {
    margin: 50px 0 -25px;
  }

  .breadcr {
    margin-top: 40px;
  }
  .design__bottom-cat .title {
    font-size: 27px;
  }

  .catalog__popup .social {
    bottom: 5px;
  }

  .has-submenu {
    text-align: center;
  }
  .has-submenu > ul {
    position: static;
    width: 100%;
    text-align: center;
  }

  .measurer__wrap {
    display: block;
    font-size: 0;
    letter-spacing: -10px;
    text-align: center;
  }
  .measurer__item {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
  }
  .production__wrap.production__wrap--desctop {
    display: block;
    font-size: 0;
    letter-spacing: -10px;
  }
  .production__wrap.production__wrap--desctop .production__item {
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    max-width: 210px;
  }
  .contact__top {
    padding-bottom: 25px !important;
  }

  .top .top__dots {
    bottom: 50px !important;
  }
  .top .slick-dots {
    text-align: center;
  }
  .top .slick-prev {
    left: 50%;
    top: auto;
    margin: 0 0 0 -465px;
    bottom: 40px;
  }
  .top .slick-next {
    right: 50%;
    top: auto;
    margin: 0 -465px 0 0;
    bottom: 40px;
  }
}

@media (max-width: 991px) {
  .button {
    line-height: 40px;
  }
  .top__btn {
    height: 48px;
    line-height: 44px;
    border-radius: 24px;
    font-size: 16px;
    min-width: 170px;
  }
  .breadcr {
    margin-top: 30px;
  }
  .catalog-page .catalog-page__title {
    margin: 0 0 40px;
  }
  .catalog__text,
  .section-textblock,
  .design__bottom-cat .connect__desc {
    font-size: 16px;
  }

  .catalog__list .catalog__item {
    width: 50%;
  }

  .mainfilter {
    margin: 35px 0;
  }
  .mainfilter ul {
    padding: 11px 40px 10px;
  }
  .mainfilter li {
    font-size: 16px;
  }
  .mainfilter li + li {
    margin-left: 25px;
  }
  .mainfilter li + li:before {
    margin-right: 25px;
  }

  .detailfilter {
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
  .detailfilter .section {
    padding: 0 10px;
  }
  .detailfilter .section li {
    margin: 0 6px 2px !important;
  }
  .detailfilter .section li + li {
    margin: 0;
  }
  .detailfilter .section li + li:before {
    display: none;
  }

  .catalog__actions {
    padding-top: 45px;
  }
  .catalog__text.information,
  .section-textblock {
    margin-top: 50px;
  }

  .design__bottom-cat .title {
    font-size: 24px;
  }

  .measurer__form-input {
    display: block;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
  }
  .measurer__form-field {
    margin: 0;
    width: 100%;
  }
  .measurer__form-field + .measurer__form-field {
    margin-top: 20px;
    width: 100%;
  }
  .measurer__btn {
    margin-top: 40px;
  }

  .production__wrap.production__wrap--desctop .production__item {
    max-width: 330px;
  }

  .catalog__links .order-5 {
    order: 5;
  }
  .catalog__links .order-6 {
    order: 6;
  }

  .top__slide--1 {
    background-image: url(../img/top-img-tab.jpg);
    background-position: center center;
  }
  .top__slide--1 .top__wrap {
    padding: 45px 0 0;
  }
  .top__slide--2 {
    background-image: url(../img/top-img-tab2.jpg);
    background-position: center center;
  }
  .top__slide--2 .top__wrap {
    padding: 10px 0 0;
  }
  .top__slide--3 {
    background-image: url(../img/top-img-tab3.jpg);
    background-position: center center;
  }
  .top__slide--3 .top__wrap {
    padding: 75px 0 0;
  }
  .top__slide--4 {
    background-image: url(../img/top-img-tab4.jpg);
    background-position: center center;
  }
  .top__slide--4 .top__wrap {
    padding: 15px 0 0;
  }
  .top__slide--5 {
    background-image: url(../img/top-img-tab5.jpg);
    background-position: center center;
  }
  .top__slide--5 .top__wrap {
    padding: 35px 0 0;
  }
  .top__slide--6 {
    background-image: url(../img/top-img-tab6.jpg);
    background-position: center center;
  }
  .top__slide--6 .top__wrap {
    padding: 25px 0 0;
  }

  .top__slide .wrapper {
    margin-top: -95px;
  }

  .top__info {
    font-size: 25px;
  }
  .top__desc + .top__info {
    margin-top: 10px;
  }

  .top__wrap {
    min-height: 390px;
    margin: 0;
  }
  .top__title {
    line-height: 1;
    margin-bottom: 15px;
  }

  .top__desc {
    font-size: 45px;
    line-height: 1.1;
  }

  .type-1 .top__title {
    font-size: 72px;
    line-height: 68px;
  }
  .type-2 .top__title {
    font-size: 72px;
    margin-bottom: 5px;
  }
  .type-3 .top__title {
    font-size: 80px;
    line-height: 84px;
  }

  .top .slick-arrow {
    width: 34px;
    height: 34px;
  }
  .top .slick-prev {
    margin: 0 0 0 -353px;
    bottom: 200px;
  }
  .top .slick-next {
    margin: 0 -353px 0 0;
    bottom: 200px;
  }
}

@media (max-width: 767px) {
  .ptb {
    padding: 40px 0;
  }
  .pt {
    padding: 40px 0 0;
  }
  .design__title {
    margin-bottom: 40px;
  }
  .design__item {
    margin: 15px 0;
  }
  .design__top .row .col-lg-3:first-child .design__item {
    margin-top: 0;
  }
  .design__btn {
    margin-top: 20px;
  }
  .catalog__links .link .link__image p {
    padding: 10px 25px;
    font-size: 14px;
  }
  .catalog__links .link .link__name {
    font-size: 14px;
  }
  .catalog__links {
    margin: 40px 0 -25px;
  }
  .get__item {
    margin-top: 40px;
  }
  .connect__form {
    margin-top: 10px;
  }

  .catalog__list {
    margin: -10px;
  }
  .catalog__list .catalog__item {
    width: 100%;
    padding: 10px;
  }

  .catalog__popup {
    position: relative;
  }
  .popup__slider {
    width: 100%;
    min-width: 100%;
  }
  .popup__info {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s;
  }
  .popup__info:hover {
    opacity: 1;
  }
  .popup__info .popup__btn {
    display: none;
  }
  .popup__info .popup__price,
  .popup__info .popup__desc-key,
  .popup__info .popup__desc-value,
  .popup__info .popup__cod {
    display: none !important;
  }
  .popup__info .popup__desc {
    width: 100% !important;
    margin: 0;
    text-align: center;
  }
  .popup__info .popup__desc,
  .popup__info .popup__desc-slider,
  .popup__info .slick-list,
  .popup__info .slick-track,
  .popup__info .slick-slide,
  .popup__info .slick-slide > div {
    height: 100%;
  }
  .popup__info .poppup__desc-slide {
    height: 100%;
    display: table !important;
    width: 100%;
  }
  .popup__info .poppup__desc-slide .popup__collection {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding: 0 40px;
  }
  .popup__info .poppup__desc-slide .popup__collection > div {
    display: inline-block;
  }
  .mfp-close-btn-in .mfp-close {
    color: #ff001f;
  }

  .mainfilter {
    margin: 30px 0;
  }
  .mainfilter ul {
    padding: 8px 15px 7px;
    display: block;
  }
  .mainfilter li {
    font-size: 14px;
  }
  .mainfilter li + li {
    margin-left: 10px;
  }
  .mainfilter li + li:before {
    margin-right: 10px;
  }

  .detailfilter {
    margin: 0 0 30px;
  }
  .detailfilter .section li + li:before {
    display: none;
  }
  .detailfilter .section {
    padding: 0;
    width: 100%;
  }
  .detailfilter .section + .section {
    margin-top: 20px;
  }

  .catalog__popup.popup {
    background: none;
  }
  .catalog__popup .mfp-close {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 38px;
  }
  .popup__slide-link {
    height: 480px;
    background-size: contain;
  }

  .design__bottom-cat .title {
    font-size: 21px;
  }

  .measurer__wrap,
  .measurer__form-input,
  .measurer__item {
    display: flex;
  }
  .measurer__form-input {
    max-width: 300px;
  }

  .production__wrap.production__wrap--desctop {
    display: none;
  }

  .top__slide .wrapper {
    margin-top: -60px;
  }

  .top__info {
    font-size: 20px;
  }

  .top__wrap {
    min-height: 340px;
    margin: 0;
  }

  .top__desc {
    font-size: 38px;
  }

  .type-1 .top__title {
    font-size: 65px;
    line-height: 62px;
  }
  .type-2 .top__title {
    font-size: 65px;
    margin-bottom: 5px;
  }
  .type-3 .top__title {
    font-size: 60px;
    line-height: 58px;
  }

  .top .top__dots {
    bottom: 45px !important;
  }
  .top .slick-prev {
    margin: 0 0 0 -260px;
    bottom: 130px;
  }
  .top .slick-next {
    margin: 0 -260px 0 0;
    bottom: 130px;
  }
  .top .slick-dots li button {
    height: 36px;
    width: 36px;
    line-height: 32px;
  }
}

@media (max-width: 575px) {
  .top__btn {
    height: 34px;
    line-height: 30px;
    border-radius: 17px;
    font-size: 12px;
    min-width: 120px;
  }
  .catalog__links .link {
    position: relative;
  }
  .catalog__links .link .link__image {
    margin-bottom: 0;
  }
  .catalog__links .link .link__image:before {
    display: none !important;
  }
  .catalog__links .link .link__image p {
    display: none !important;
  }
  .catalog__links .link .link__name {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 25px 9px;
    background: rgba(0, 0, 0, 0.5);
  }

  .mainfilter {
    margin-bottom: 20px;
  }
  .mainfilter ul {
    padding: 12px 15px 11px;
    display: block;
    background: none;
    font-weight: 700;
  }
  .mainfilter li {
    display: block;
  }
  .mainfilter li + li {
    margin: 8px 0 0;
  }
  .mainfilter li + li:before {
    display: none;
  }

  .detailfilter {
    margin: 0 0 20px;
  }

  .breadcr {
    margin-top: 20px;
  }
  .catalog-page .catalog-page__title {
    margin: 0 0 30px;
  }

  .catalog__actions {
    padding-top: 30px;
  }
  .catalog__text.information,
  .section-textblock {
    margin-top: 40px;
  }

  .top__slide--1 {
    background-image: url(../img/top-img-mob.jpg);
    background-position: center center;
  }
  .top__slide--1 .top__wrap {
    padding: 35px 0 0;
  }
  .top__slide--2 {
    background-image: url(../img/top-img-mob2.jpg);
    background-position: center center;
  }
  .top__slide--2 .top__wrap {
    padding: 10px 0 0;
  }
  .top__slide--3 {
    background-image: url(../img/top-img-mob3.jpg);
    background-position: center center;
  }
  .top__slide--3 .top__wrap {
    padding: 15px 0 0;
  }
  .top__slide--4 {
    background-image: url(../img/top-img-mob4.jpg);
    background-position: center center;
  }
  .top__slide--4 .top__wrap {
    padding: 5px 0 0;
  }
  .top__slide--5 {
    background-image: url(../img/top-img-mob5.jpg);
    background-position: center center;
  }
  .top__slide--5 .top__wrap {
    padding: 25px 0 0;
  }
  .top__slide--6 {
    background-image: url(../img/top-img-mob6.jpg);
    background-position: center center;
  }
  .top__slide--6 .top__wrap {
    padding: 20px 0 0;
  }

  .top__slide {
    min-height: 550px;
  }
  .top__slide .wrapper {
    margin-top: -48px;
  }

  .top__info {
    font-size: 16px;
  }
  .top__desc + .top__info {
    margin-top: 18px;
  }

  .top__wrap {
    min-height: 250px;
    margin: 0;
  }
  .top__title {
    line-height: 1;
    margin-bottom: 15px;
  }

  .top__desc {
    font-size: 28px;
    line-height: 1.1;
  }

  .type-1 .top__title {
    font-size: 42px;
    line-height: 38px;
  }
  .type-2 .top__title {
    font-size: 50px;
    line-height: 42px;
    margin-bottom: 5px;
  }
  .type-3 .top__title {
    font-size: 50px;
    line-height: 42px;
  }

  .top .slick-arrow {
    width: 23px;
    height: 23px;
  }
  .top .top__dots {
    bottom: 45px !important;
  }
  .top .slick-prev {
    margin: 0;
    left: 10px;
    bottom: 130px;
  }
  .top .slick-next {
    margin: 0;
    right: 10px;
    bottom: 130px;
  }
  .top .slick-dots li button {
    height: 36px;
    width: 36px;
    line-height: 32px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .measurer__form-input {
    max-width: 250px;
  }
}

@media (max-width: 375px) {
  .catalog__list .catalog__item {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 15px;
  }
  .detailfilter .section li {
    margin: 0 10px 2px !important;
  }

  .top__desc {
    font-size: 24px;
  }

  .type-1 .top__title {
    font-size: 40px;
    line-height: 38px;
  }
  .type-2 .top__title {
    font-size: 40px;
    line-height: 38px;
  }
  .type-3 .top__title {
    font-size: 44px;
    line-height: 40px;
  }
}
@media (min-width: 992px) and (max-height: 1000px) {
  .top__social {
    top: 110px;
  }
  .top__social li + li {
    margin-left: 40px;
  }
}
@media (min-width: 992px) and (max-height: 900px) {
  .top__btn {
    min-width: 190px;
    height: 56px;
    line-height: 51px;
    border-radius: 28px;
    font-size: 19px;
  }
  .top__social {
    top: 95px;
  }
  .top__social li + li {
    margin-left: 25px;
  }
  .top .top__dots {
    bottom: 80px;
  }
  .top .slick-dots li button {
    height: 44px;
    width: 44px;
    line-height: 40px;
    font-size: 16px;
  }

  .type-1 .top__title {
    font-size: 6.8vh;
  }
  .type-3 .top__title {
    font-size: 8vh;
  }
}
@media (min-width: 992px) and (max-height: 800px) {
  .top__social {
    display: none;
  }
  .top__btn {
    min-width: 170px;
    height: 52px;
    line-height: 47px;
    border-radius: 26px;
    font-size: 18px;
  }
  .top .top__dots {
    bottom: 70px;
  }
  .top .slick-dots li button {
    height: 40px;
    width: 40px;
    line-height: 36px;
    font-size: 14px;
  }
}
@media (min-width: 992px) and (max-height: 700px) {
  .top__wrap {
    min-height: 250px;
    margin-top: -2%;
  }

  .top .top__dots {
    bottom: 50px;
  }

  .top__btn {
    min-width: 150px;
    height: 48px;
    line-height: 43px;
    border-radius: 24px;
    font-size: 17px;
  }

  .top__desc {
    font-size: 30px;
  }
  .top__info {
    font-size: 20px;
  }
  .type-1 .top__title {
    font-size: 45px;
  }
  .type-3 .top__title {
    font-size: 55px;
  }
  .type-3 .top__wrap {
    padding-top: 40px;
  }

  .top .slick-dots li button {
    height: 36px;
    width: 36px;
    line-height: 32px;
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) and (max-height: 700px) {
  .type-2 .top__wrap {
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 991px) and (max-height: 900px) {
  .top .slick-prev {
    bottom: 170px;
  }
  .top .slick-next {
    bottom: 170px;
  }
}

@media (min-width: 576px) and (max-width: 991px) and (max-height: 800px) {
  .top__slide .wrapper {
    margin-top: -20px;
  }
  .top .slick-prev {
    bottom: 40px;
  }
  .top .slick-next {
    bottom: 40px;
  }
}
@media (min-width: 576px) and (max-width: 991px) and (max-height: 700px) {
  .top__wrap {
    min-height: 350px;
  }
  .top__slide .wrapper {
    margin-top: -20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .top .slick-prev {
    bottom: 29px;
  }
  .top .slick-next {
    bottom: 29px;
  }
}
@media (min-width: 320px) and (max-width: 575px) and (max-height: 700px) {
  .top .slick-prev {
    bottom: 120px;
  }
  .top .slick-next {
    bottom: 120px;
  }
  .top__wrap {
    min-height: 240px;
  }
}
@media (min-width: 320px) and (max-width: 575px) and (max-height: 600px) {
  .top .slick-prev {
    bottom: 100px;
  }
  .top .slick-next {
    bottom: 100px;
  }
}

@media (min-width: 992px) and (min-height: 1080px) {
  .type-1 .top__title {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 15px;
  }
  .top__wrap {
    min-height: 400px;
    margin-top: 35px;
  }

  .type-3 .top__title {
    font-size: 90px;
    line-height: 90px;
    margin-bottom: 15px;
  }
  .type-3 .top__wrap {
    padding-top: 70px;
  }
}

.type-covid .container {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}
.type-covid .top__desc {
  font-family: Gilroy, sans-serif;
  font-weight: 500;
  line-height: 1.3;
}
.type-covid .top__info {
  font-weight: 300;
  font-size: 2.5vh;
}
.type-covid .top__info p + p {
  margin-top: 3vh;
}
.type-covid .top__ext {
  font-size: 3.2vh;
  margin: 5.2vh 0;
  padding-top: 3.4vh;
  line-height: 1.3;
  position: relative;
}
.type-covid .top__ext:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
  height: 2px;
  width: 60px;
  background: #fff;
}

@media (min-width: 992px) and (max-height: 700px) {
  .type-covid .container {
    max-width: 600px;
  }
  .type-covid .top__desc {
    font-size: 28px;
  }
  .type-covid .top__desc br {
    display: none;
  }
  .type-covid .top__info,
  .type-covid .top__ext {
    font-size: 20px;
  }
  .type-covid .top__ext br {
    display: none;
  }
}
@media (max-width: 991px) {
  .type-covid .container {
    max-width: 500px;
  }
  .type-covid .top__desc {
    font-size: 24px;
    line-height: 1.2;
  }
  .type-covid .top__info,
  .type-covid .top__ext {
    font-size: 18px;
  }
  .type-covid .top__ext br {
    display: none;
  }
}
@media (max-width: 480px) {
  .type-covid .top__desc {
    font-size: 19px;
  }
  .type-covid .top__info,
  .type-covid .top__ext {
    font-size: 16px;
  }
}
@media (max-height: 700px) and (max-width: 991px) and (min-width: 576px) {
  .top__wrap {
    min-height: 370px;
  }
}

.online-sect .about__item {
  width: 50%;
  max-width: 100%;
  margin: 30px 0 0;
  padding: 0 70px;
}
.online-sect .about__wrap {
  padding: 0;
  margin: 30px 0 0;
}
.online-sect .about__item-img {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  text-align: center;
}
.online-sect .about__item-top {
  align-items: flex-end;
}
.online-sect .about__item-img img {
  max-width: 100%;
  max-height: 100%;
}
.online-sect .about__item-title {
  flex: 1 0;
  line-height: 1.2;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.online-sect .about__item-title:after {
  content: "";
  width: 120px;
  height: 1px;
  background: #ff001f;
  position: absolute;
  left: 0;
  bottom: 0;
}
.online-sect .about__item-desc {
  max-width: 520px;
  display: block;
}
.online-sect .plr {
  padding-left: 10px;
  padding-right: 10px;
}
.online-sect .ptb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.why-sect .get__wrap {
  margin: 80px -15px 0;
}
.why-sect .get__item {
  max-width: 100%;
  width: 30%;
  margin: 0;
  padding: 90px 15px 0 75px;
  position: relative;
}
.why-sect .get__item:nth-child(2) {
  padding-left: 105px;
  width: 35%;
}
.why-sect .get__item:nth-child(2) .get__item-desc {
  max-width: 300px;
}
.why-sect .get__item:nth-child(3) {
  padding-left: 105px;
  width: 35%;
}
.why-sect .get__item:nth-child(3) .get__item-desc {
  max-width: 430px;
}
.why-sect .get__item-title {
  font-size: 20px;
  text-transform: none;
  line-height: 1.1;
}
.why-sect .get__item-title:after {
  display: none;
}
.why-sect .get__item-desc {
  font-size: 16px;
  margin: 10px 0 0;
  padding: 0 0 20px;
  position: relative;
  max-width: 300px;
  line-height: 1.2;
}
.why-sect .get__item-desc:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background: #ff001f;
  width: 178px;
}
.why-sect .get__item-num {
  font-size: 0;
  position: absolute;
  left: 15px;
  top: 0;
  width: 200px;
}
.why-sect .get__item-num img {
  max-width: 100%;
  max-height: 195px;
}
@media (max-width: 1649px) {
  .online-sect .about__item {
    padding: 0 50px;
  }
  .why-sect .get__wrap {
    margin: 60px -15px 0;
  }
  .why-sect .get__item {
    width: 33.33333333%;
  }
  .why-sect .get__item:nth-child(2),
  .why-sect .get__item:nth-child(3) {
    width: 33.33333333%;
  }
  .why-sect .get__item-num {
    width: 180px;
  }
  .why-sect .get__item-num img {
    max-width: 100%;
  }
}
@media (max-width: 1199px) {
  .online-sect .about__wrap {
    margin: 20px -15px 0;
  }
  .online-sect .about__item {
    padding: 0 15px;
  }
  .online-sect .about__wrap {
    margin: 30px 0 0;
  }
  .why-sect .get__wrap {
    margin: 50px -15px 0;
  }
  .why-sect .get__item {
    width: 33.33333333%;
    padding: 80px 15px 0 65px;
  }
  .why-sect .get__item:nth-child(2) {
    padding-left: 80px;
  }
  .why-sect .get__item:nth-child(3) {
    padding-left: 95px;
  }
  .why-sect .get__item-num {
    width: 140px;
  }
  .why-sect .get__item-num img {
    max-height: 170px;
  }
}
@media (max-width: 991px) {
  .online-sect .about__item-title {
    margin-bottom: 15px;
  }
  .why-sect .get__wrap {
    margin: 40px -15px 0;
  }
  .why-sect .get__item {
    padding: 60px 15px 0 50px;
  }
  .why-sect .get__item:nth-child(2),
  .why-sect .get__item:nth-child(3) {
    padding-left: 50px;
  }
  .why-sect .get__item-title {
    font-size: 18px;
  }
  .why-sect .get__item-num {
    width: 100px;
  }
  .why-sect .get__item-num img {
    max-height: 120px;
  }
}
@media (max-width: 767px) {
  .online-sect .about__wrap {
    margin-top: 0;
  }
  .online-sect .about__item {
    padding: 0;
    width: 100%;
    margin: 30px 0 0;
  }
  .online-sect .about__item-top {
    align-items: center;
  }
  .online-sect .about__item-title {
    margin-bottom: 0;
  }
  .online-sect .about__item-title br {
    display: none;
  }
  .why-sect .get__wrap {
    margin: 40px 0 0;
  }
  .why-sect .get__item {
    padding: 30px 0 0 50px;
    width: 100%;
  }
  .why-sect .get__item + .get__item {
    margin-top: 30px;
  }
  .why-sect .get__item:nth-child(2),
  .why-sect .get__item:nth-child(3) {
    padding-left: 50px;
    width: 100%;
  }
  .why-sect .get__item-num {
    width: 80px;
    left: 0;
  }
  .why-sect .get__item:nth-child(2) .get__item-desc,
  .why-sect .get__item:nth-child(3) .get__item-desc {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .online-sect .about__wrap {
    margin-top: -10px;
  }
  .online-sect .about__item {
    margin: 20px 0 0;
  }
  .online-sect .about__item-img {
    width: 60px;
    height: 60px;
  }
  .online-sect .plr {
    padding-left: 10px;
    padding-right: 10px;
  }
  .why-sect .get__wrap {
    margin: 30px 0 0;
  }
  .why-sect .get__item {
    padding: 20px 0 0 30px;
  }
  .why-sect .get__item + .get__item {
    margin-top: 20px;
  }
  .why-sect .get__item:nth-child(2),
  .why-sect .get__item:nth-child(3) {
    padding-left: 30px;
  }
  .why-sect .get__item-num {
    width: 70px;
    left: 0;
  }
}
@media (max-width: 374px) {
  .online-sect .about__item-img {
    width: 40px;
    height: 40px;
  }
  .online-sect .plr {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.online__order__btn {
  margin: 30px auto 0;
  width: 350px;
  height: 45px;
  box-shadow: 0 10px 20px rgba(235, 47, 70, 0.1);
}

.contact__wrap {
  display: flex;
}

.contact-content,
.contact-map {
  width: 50%;
}

.contact__desc {
  width: 100%;
  max-width: 445px;
}

.contact__info {
  font-size: 16px;
  line-height: 130%;
  color: #000;
}

.contact__subtitle {
  margin: 20px 0;
  font-size: 18px;
  color: #000;
}

.contact__schedule {
  margin-top: 15px;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}

.contact__connect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact__connect_item {
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 21px;
  background-position: left 3px;
  background-repeat: no-repeat;
}

.contact__icon_map {
  background-image: url("../img/icons/icon-map.png");
}

.contact__icon_parking {
  background-image: url("../img/icons/icon-parking.png");
}

.contact__icon_phone {
  background-image: url("../img/icons/icon-phone.png");
}

.contact__icon_shedule {
  background-image: url("../img/icons/icon-shedule.png");
}

.contact__icon_email {
  background-image: url("../img/icons/icon-email.png");
}

.contact__connect_item a {
  color: #000;
  font-size: 16px;
}

.contact__phone {
  margin-top: 20px;
  font-size: 18px;
  color: #000;
  transition: 0.3s all;
}

.contact__phone:hover {
  color: #ff001f;
}

.contact__email {
  text-decoration: underline;
}

.contact__email:hover {
  text-decoration: none;
}

.contact__openblock {
  border-top: 1px solid #ddd;
  width: 265px;
  margin-top: 10px;
  padding-top: 15px;
}

.contact__openblock_row {
  height: 30px;
}

.contact__openblock_item {
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  font-size: 16px;
  color: #878787;
  position: relative;
  text-decoration: underline;
  background-position: left center;
  background-repeat: no-repeat;
}

.contact__openblock_item:hover {
  text-decoration: none;
  color: #878787;
}

.contact__mail {
  height: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-size: 16px;
  color: #ff001f;
  position: relative;
  text-decoration: underline;
}

.contact__mail:hover {
  color: #ff001f;
  text-decoration: none;
}

.contact__mail:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url(../img/mail-icon.svg) center center no-repeat;
}

.contact__img {
  max-width: 100%;
  margin-left: 30px;
}

.contact__img img {
  max-width: 100%;
  max-height: 100%;
}

.contact__map {
  min-height: 40vh;
  height: 40vh;
  width: 100%;
  margin: 30px 0 0;
}

.contact__map iframe {
  width: 100%;
}

.contact__main {
  color: #000;
  top: 100px;
}

.contact__main:hover {
  color: #000;
}

.contact__main:before {
  background-image: url(../img/arrow-down-black.svg);
}

.contact__map-nav {
  margin-bottom: 6px;
  font-size: 14px;
  margin-left: 15px;
  color: #ff001f;
}

.contact__map-nav:hover {
  color: #ff001f;
}

@media (min-width: 680px) {
  .map {
    height: 100%;
  }
}

.section-photoblock {
  background: url(../img/Mask-Group-1-1.png) center center no-repeat;
  background-size: contain;
  padding-top: 30%;
  margin-top: 40px;
}

.special-mode,
.special-mode a {
  color: #ff001f;
}

@media (max-width: 480px) {
  .online__btn {
    min-width: 55px;
    height: 26px;
    line-height: 23px;
    font-size: 10px;
  }
  .header__mobile-btn {
    margin-left: 0;
  }
  .online__order__btn {
    width: 250px !important;
    margin: 0 auto;
  }
  .map {
    margin: 0px -15px -40px -15px;
  }
  .footer__nav-item {
    text-align: center;
  }
  .footer__contact {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .contact-content,
  .contact-map {
    width: 100%;
    float: left;
    display: block !important;
  }
}

.controls {
  display: none;
  left: 0;
  right: 0;
  bottom: 15px;
  position: fixed;
  font-family: Gilroy, sans-serif;
  font-weight: 600;
  transform: translateY(130%);
  transition: all 0.2s ease-out;
}
.controls.open {
  transform: translateY(0);
}
.controls ul {
  background: rgba(225, 225, 225, 0.4);
  padding: 3px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.controls li {
  width: 50%;
  padding: 3px;
}
.controls li a {
  color: #000;
  background: #ffffff;
  border: 1px solid #000000;
  padding: 12px 5px 10px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}
.controls li a .wa {
  display: inline-block;
  padding-left: 18px;
  position: relative;
}
.controls li a .wa:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 12px;
  height: 12px;
  background: url(../img/icons/wa.svg) center center no-repeat;
  background-size: contain;
}
.controls li a:hover {
  background: #000;
  color: #fff;
}
.controls li a:hover .wa:before {
  background: url(../img/icons/wa-h.svg) center center no-repeat;
  background-size: contain;
}
.directions {
  display: none;
}
.directions a {
  color: #000;
  background: url("../img/icons/car.svg") left center no-repeat;
}
.directions a:hover {
  color: #f90f2d;
  background: url("../img/icons/car-h.svg") left center no-repeat;
  text-decoration: underline;
}
.design-mob,
.section-mob {
  display: none;
}
.has-submenu > a {
  margin-left: 18px;
}

@media (max-width: 991px) {
  .header__logo,
  .header--sect .header__logo {
    margin-right: auto;
  }
  .header__contact {
    margin: auto;
  }
  .header__mobile-btn {
    margin-left: auto;
  }
  .controls {
    display: block;
  }
  .directions {
    display: block;
  }
  .catalog__text.information {
    display: none !important;
  }
  .design-pc,
  .section-pc {
    display: none;
  }
  .design-mob,
  .section-mob {
    display: block;
  }
}

@media (max-width: 359px) {
  .controls li a {
    font-size: 9px;
  }
}

.footer__middle {
  display: flex;
}
.footer__contact {
  width: 25%;
  padding-right: 15px;
}
.footer__reqs {
  width: 50%;
  padding: 0 15px;
  text-align: center;
}

@media (max-width: 1649px) {
  .footer__reqs {
    width: 75%;
    padding: 0 0 0 15px;
  }
}

@media (max-width: 1649px) {
  .footer__middle {
    display: block;
  }
  .footer__contact {
    width: 100%;
    padding-right: 0;
  }
  .footer__reqs {
    width: 100%;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 12px;
  }
}
